diffusers==0.25.1
transformers==4.37.2
accelerate
safetensors
einops
onnxruntime-gpu
omegaconf
peft==0.10.0
# huggingface-hub
# huggingface-hub==0.29.1
# huggingface-hub==0.25.2
# huggingface-hub==0.20.2 
huggingface-hub==0.25.0
# huggingface-hub==0.32.3
# huggingface_hub[hf-transfer]
opencv-python
insightface==0.7.3
